@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-height: 5rem;
	}

	html {
		scroll-behavior: auto;
	}

	@media (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	[id] {
		scroll-margin-top: var(--header-height);
	}
}
