---
import { Image } from 'astro:assets';
import background from '../assets/background.jpg';
import ButtonLink from './button/button-link.astro';
import { siteConfig } from '../lib/site-config';
import { packs } from '../lib/packs';
---

<div class="relative grid">
	<Image
		alt=""
		class="sticky top-0 col-start-1 row-start-1 h-full max-h-[35rem] w-full"
		densities={[1.5, 2]}
		src={background}
	/>
	<div
		class:list={[
			packs.innerPadding,
			'relative col-start-1 row-start-1 flex items-center justify-center bg-pink_12/50 py-24',
		]}
	>
		<div
			class:list={[
				packs.containerOuter,
				'flex flex-wrap items-center justify-center gap-12 text-center text-xl text-white',
			]}
		>
			<h2 class="font-display text-4xl font-semibold uppercase leading-normal">
				Call us to find out more about pink slips
			</h2>
			<ButtonLink href={siteConfig.siteNavigation.Services.href}>
				More info
			</ButtonLink>
		</div>
	</div>
</div>
