<article
	class="flex max-w-none flex-col bg-indigo_12 py-24 text-center text-white"
>
	<div class="flex flex-col gap-12 text-center">
		<div class="text-xl text-white">
			<h2
				class="text-heading-1 font-display font-semibold uppercase leading-normal"
			>
				Property pink slips just $199
			</h2>
			<p>
				Pinkslip Property issues a certificate of compliance on every job.
				<br />
				Need a one off?
			</p>
		</div>
	</div>
</article>
