.cards {
  display: flex;
  flex-wrap: wrap;
  --margin: 1rem;
  --modifier: calc(50rem - 100%);
  margin: calc(var(--margin) * -1);
}

.cards > * {
  flex-grow: 1;
  flex-basis: calc(var(--modifier) * 999);
  margin: var(--margin);
}
